
.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 10%; 
}

.service-title {
    position: relative;
}

.service-title h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.service-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.service-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 40px;
    margin-bottom: 80px;
}

.service-format {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 60px;
    border-radius: 10px;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.4s;
}

.service-format h3 {
    font-size: 28px;
    font-weight: 600;
}

.service-format h2 {
    font-size: 38px;
    font-weight: 800;
    background: linear-gradient(270deg,#DF8908 50%, #8415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.service-format p {
    font-size: 22px; 
    color: #d4d4d4;
    line-height: 1.6;
    max-width: 300px;
}

.service-readmore {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.service-format:hover {
    border: 2px solid #ff00ff;
    background-image: linear-gradient(45deg, #3f0028, #582300);
    transform: scale(1.05);
}
@media (max-width: 1200px) {
    .service {
        margin: 80px 5%;
    }
    .service-container {
        gap: 25px;
    }
    .service-format {
        padding: 40px;
    }
}


@media (max-width: 1024px) {
    .service-container {
        grid-template-columns: 1fr 1fr; 
    }
    .service-title h1 {
        font-size: 60px;
    }
}

@media (max-width: 768px) {
    .service {
        align-items: center; 
        gap: 50px;
        margin: 50px 20px;
    }

    .service-title h1 {
        padding: 0;
        font-size: 45px;
    }

    .service-title img {
        width: 100px;
        margin-right: -10px;
    }

    .service-container {
        grid-template-columns: 1fr;
        width: 100%;
        max-width: 500px; 
    }

    .service-format {
        padding: 30px;
        text-align: center;
        align-items: center;
    }

    .service-format h2 {
        font-size: 26px;
    }

    .service-format p {
        font-size: 16px;
        line-height: 26px;
        max-width: 100%;
    }

    .service-readmore {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .service-title h1 {
        font-size: 36px;
    }
    .service-format {
        padding: 25px;
    }
}