
.mywork {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 80px;
    margin: 80px 10%; 
}

.mywork-title {
    position: relative;
}

.mywork h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.mywork-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.mywork-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: 100%;
}

.mywork-container img {
    box-sizing: border-box;
    width: 100%; 
    height: auto; 
    aspect-ratio: 3/2; 
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.mywork-container img:hover {
    transform: scale(1.05); 
    border: 4px solid #ff00ff;
}

.mywork-showmore {
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 50px;
    border: 2px solid white;
    padding: 25px 50px;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 80px;
    transition: 0.5s;
    cursor: pointer;
}

.mywork-showmore:hover {
    gap: 30px;
    background: #1f0016;
}

@media (max-width: 1024px) {
    .mywork {
        margin: 60px 5%;
    }
    .mywork h1 {
        font-size: 60px;
    }
    .mywork-container {
        gap: 25px;
    }
}

@media (max-width: 768px) {
    .mywork {
        gap: 50px;
        margin: 50px 20px;
        align-items: center;
    }

    .mywork-title h1 {
        padding: 0;
        font-size: 45px;
        text-align: center;
    }

    .mywork-title img {
        width: 100px;
        right: -10px;
    }

    .mywork-container {
        grid-template-columns: 1fr; 
        gap: 30px;
        max-width: 450px; 
    }

    .mywork-showmore {
        padding: 18px 35px;
        font-size: 16px;
        margin-bottom: 50px;
    }
}

@media (max-width: 480px) {
    .mywork-title h1 {
        font-size: 34px;
    }
}