
.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 80px;
    margin: 80px 10%;
    overflow: hidden;
}

.contact-title {
    position: relative;
    transition: transform 0.4s ease;
}

.contact-title:hover {
    transform: translateY(-5px);
}

.contact-title h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.contact-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.contact-section {
    display: flex;
    gap: 100px;
    width: 100%;
    max-width: 1400px;
}

.contact-left {
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex: 1;
}

.contact-left h1 {
    font-size: 70px;
    font-weight: 700;
    background: linear-gradient(270deg, #DF8908 50%, #8415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientFlow 5s ease infinite alternate;
}


@keyframes gradientFlow {
    0% { filter: hue-rotate(0deg); }
    100% { filter: hue-rotate(20deg); }
}

.contact-left p {
    font-family: 'Outfit', sans-serif;
    font-size: 19px;
    line-height: 1.7;
    max-width: 450px;
    color: #ffffff;
    opacity: 0.8;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #D8D8D8;
    font-size: 22px;
}

.contact-detail {
    display: flex;
    align-items: center;
    gap: 20px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
}

.contact-detail:hover {
    color: #DF8908;
    transform: translateX(15px);
}

.contact-detail img {
    transition: transform 0.4s ease;
}

.contact-detail:hover img {
    transform: rotate(15deg) scale(1.2);
}

.contact-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    flex: 1.5;
    width: 100%;
}

.contact-right label {
    color: #D8D8D8;
    font-size: 20px;
    font-weight: 500;
    margin-left: 5px;
}

.contact-right input,
.contact-right textarea {
    width: 100%;
    max-width: 850px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    outline: none;
    padding: 22px;
    border-radius: 12px;
    color: #ffffff;
    background: #1f1f23;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
}

.contact-right input {
    height: 75px;
}

.contact-right textarea {
    height: 250px;
    resize: none;
}


.contact-right input:focus,
.contact-right textarea:focus {
    border-color: #B415FF;
    background: #25252b;
    transform: translateY(-3px);
    box-shadow: 0 10px 30px rgba(180, 21, 255, 0.15), 
                inset 0 2px 5px rgba(0, 0, 0, 0.3);
}


.contact-right button {
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
    font-size: 22px;
    font-weight: 600;
    padding: 22px 75px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.contact-right button:hover {
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0 20px 40px rgba(180, 21, 255, 0.3);
}


.contact-right button::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -60%;
    width: 20%;
    height: 200%;
    background: rgba(255, 255, 255, 0.2);
    transform: rotate(30deg);
    transition: 0s;
}

.contact-right button:hover::after {
    left: 150%;
    transition: 0.7s;
}


[data-aos] {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
}


@media (max-width: 1200px) {
    .contact {
        margin: 80px 5%;
    }
    .contact-section {
        gap: 50px;
    }
}

@media (max-width: 768px) {
    .contact {
        margin: 50px 20px;
        gap: 50px;
    }
    
    .contact-title h1 {
        padding: 0;
        font-size: 45px;
        text-align: center;
    }

    .contact-title img {
        width: 100px;
        right: -10px;
    }
    .contact-section {
        flex-direction: column;
        align-items: center;
    }
    .contact-left {
        align-items: center;
        text-align: center;
    }
    .contact-left h1 {
        font-size: 48px;
    }
    .contact-right {
        align-items: center;
    }
    .contact-right input, 
    .contact-right textarea {
        max-width: 100%;
    }
    .contact-right button {
        width: 100%;
    }
}