
.navbar {
    position: sticky;
    top: 0;           
    z-index: 100;        
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px 10%; 
        backdrop-filter: blur(10px); 
    transition: all 0.4s ease;                 
}

.navbar .sayed {
    width: 150px;
    cursor: pointer;
    flex-shrink: 0;
    
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px; 
    font-size: 18px;
    cursor: pointer;
    margin: 0 20px; 
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
}

.nav-menu li img {
    width: auto;
    height: 15px;
    margin-top: 5px;
}

.nav-connect {
    padding: 15px 35px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #8923E1 102.06%);
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;
    flex-shrink: 0;
    text-align: center;
}

.nav-connect:hover {
    transform: scale(1.05);
}

.anchor-link {
    text-decoration: none;
    color: white;
}

.nav-mob-close, .nav-mob-open {
    display: none;
}

@media (max-width: 1100px) {
    .nav-menu {
        gap: 25px;
        font-size: 16px;
    }
    .navbar {
        padding: 20px 5%;
    }
}
@media (max-width: 768px) {
    .navbar {
        padding: 20px 30px;
    }

    .nav-connect {
        display: none; 
    }

    .nav-mob-open {
        display: block;
        cursor: pointer;
        width: 30px;
    }

    .navbar ul {
        position: fixed;
        top: 0;
        right: -350px; 
        width: 300px; 
        height: 100vh;
        background-color: #1F0016;
        z-index: 200;
        display: flex;
        flex-direction: column;
        align-items:center;
        gap: 25px;
        padding: 120px 0px; 
        transition: right 0.5s ease-in-out;
        box-shadow: -10px 0px 30px rgba(0,0,0,0.5);
    }

    .nav-mob-close {
        display: block;
        position: absolute;
        top: 40px; 
        right: 40px; 
        width: 25px;
        cursor: pointer;
        z-index: 201;

    .nav-menu li {
        width: 100%;
        align-items: flex-start;
        font-size: 22px;
        margin-top: 5px; 
    }

    .nav-menu li img {
        margin: 5px 0 0 0; 
        height: 10px; 
    }
    }
}
@media (max-width: 450px) {
    .navbar .sayed {
        width: 120px;
    }
    .navbar ul {
        width: 80%; 
    }
}