.footer{
    margin:50px 170px ;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer-top{
    display: flex;
    justify-content: space-between;

}
.footer-top-left p{
    font-size: 20px;
    max-width: 400px;

}
.footer-top-right{
    display: flex;
    align-items: center;
    gap: 35px;
}
.footer-email-input{
    display: flex;
    gap: 30px;
    padding: 20px 30px;
    border-radius: 50px;
    background:#32323B ;
    padding-right: 80px;
}
.footer-email-input input{
    outline: none;
    border: none;
    background-color: transparent;
    color:#a0a0a0 ;
    font-family: Outfit;
    font-size: 18px;
}
.footer-subscribe{
    font-size: 20px;
    padding: 22px 50px;
    border-radius: 50px;
     background:linear-gradient(267deg, #DA7C25 0.36%, #8923E1  102.06%);
     cursor: pointer;
     transition: 0.3s;
}
.footer-subscribe:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.footer-email-input:hover{
    border: 2px solid white;

}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}
.footer-bottom-right{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}
.footer .sayed{
    width: 150px;
}
@media(max-width:768px){
    .footer{
        margin: 50px 70px;
    }
    .footer-top{
        flex-direction: column;
        gap: 50px;
    }
    .footer-bottom{
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
}
@media (max-width: 1024px) {
    .footer {
        margin: 50px 5%;
    }
    .footer-top-right {
        gap: 20px;
    }
    .footer-email-input {
        padding-right: 30px;
    }
}
@media (max-width: 1120px) {
    .footer {
        margin: 50px 5%;
    }
    .footer-top-right {
        gap: 20px;
    }
    .footer-email-input {
        padding-right: 30px;
    }
}
@media (max-width: 480px) {
    .footer {
        margin: 50px 20px;
    }

    .footer-top-right {
        flex-direction: column; /* Phone e input and button niche niche */
        align-items: stretch;
    }

    .footer-subscribe {
        text-align: center;
        padding: 15px 0;
    }

    .footer-bottom-right {
        flex-direction: column;
        gap: 15px;
    }
}