*{
  margin:  0;
  padding: 0;
}
body{
  height:100vh ;
background: linear-gradient(135deg, #1b242b 0%, #0f1a23 50%, #1b242b 100%);
  color: white;
  font-family: "Outfit", sans-serif;
}
@keyframes gradientBG {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}